<h2>Nova transação</h2>

<div *ngIf="isLoading">Carregando...</div>
<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

<form *ngIf="!isLoading" (ngSubmit)="saveTransaction()">
    <div>
        <label for="description">Descrição:</label>
        <input type="text" id="description" [(ngModel)]="transaction.transactionDescription" name="description"
            required />
    </div>

    <div>
        <label for="date">Data:</label>
        <input type="date" id="date" [(ngModel)]="transaction.transactionDate" name="date" required />
    </div>

    <div>
        <label for="value">Valor:</label>
        <input type="number" id="value" [(ngModel)]="transaction.transactionValue" name="value" required />
    </div>

    <div>
        <label for="category">Categoria:</label>
        <select id="category" [(ngModel)]="transaction.transactionIdCategory" name="categoryId" required>
            <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.categoryName }}</option>
        </select>
    </div>

    <div>
        <label for="paymentMethod">Payment Method:</label>
        <select id="paymentMethod" [(ngModel)]="transaction.transactionIdPaymentMethod" name="paymentMethodId" required>
            <option *ngFor="let pm of paymentMethods" [value]="pm.id">{{ pm.paymentMethodl }}</option>
        </select>
    </div>

    <div>
        <button tyoe="submit">Salvar</button>
        <button type="button" (click)="cancel()">Cancelar</button>
    </div>

</form>