.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 100px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #D3C874;
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #B1A861;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #DBD079;
}

.div4 {
    grid-area: 2 / 2 / 3 / 4    ;
    background-color: #8F874F;
}

.container-pattern {
    padding: 1rem;
    border-radius: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}