.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #f0eac1;
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #DBD079;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #d3c879;
}

.div4 {
    grid-area: 2 / 2 / 3 / 4    ;
    background-color: #ecead7;
}

.container-pattern {
    padding: 1rem;
    border-radius: 0.5rem;
}