<h2 class="mx-2">Transações</h2>
<button class="btn btn-primary mx-1" (click)="openCreateModal()">Novo gasto</button>
<button class="btn btn-primary mx-1" (click)="openCategoryModal()">Nova categoria</button>
<button class="btn btn-primary mx-1" (click)="openPaymentMethodModal()">Novo método pgto</button>

<input class="form-control mx-1 my-2" style="display: block;" type="text" placeholder="Filtrar por descrição" [(ngModel)]="filterText"
  (input)="applyFilter()" />

<!-- 1️⃣ LOADING -->
<div *ngIf="isLoading">
  Carregando transações...
</div>

<!-- 2️⃣ ERRO -->
<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<!-- 3️⃣ TABELA -->
<table class="table m-1" *ngIf="!isLoading && filteredTransactions.length">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Descrição</th>
      <th scope="col">Categoria</th>
      <th scope="col">Pagamento</th>
      <th scope="col">Valor</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let t of filteredTransactions">
      <td>{{ t.transactionDate | date:'dd/MM/yyyy' }}</td>
      <td>{{ t.transactionDescription }}</td>
      <td>{{ t.categoryName }}</td>
      <td>{{ t.paymentMethod }}</td>
      <td>{{ t.transactionValue | currency:'BRL' }}</td>
      <td>
        <button class="btn btn-primary mx-2" (click)="editTransaction(t)">Editar</button>
        <button class="btn btn-danger mx-2" (click)="deleteTransaction(t)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="isEditModalOpen" class="modal-backdrop">
  <div class="modal-content">
    <app-transaction-edit [transactionId]="selectedTransactionId!" (close)="closeModal()"
      (saved)="onSaved()">
    </app-transaction-edit>
  </div>
</div>

<div *ngIf="isCreateModalOpen" class="modal-backdrop">
  <div class="modal-content">
    <app-transaction-create (close)="closeModal()" (saved)="onSaved()" />
  </div>
</div>

<div *ngIf="isCreateCategoryModalOpen" class="modal-backdrop">
  <div class="modal-content">
    <app-category-create (close)="closeModal()" (saved)="onSaved()" />
  </div>
</div>

<div *ngIf="isCreatePaymentMethodModalOpen" class="modal-backdrop">
  <div class="modal-content">
    <app-payment-method-create (close)="closeModal()" (saved)="onSaved()" />
  </div>
</div>

<!-- 4️⃣ LISTA VAZIA -->
<div *ngIf="!isLoading && !filteredTransactions.length">
  Nenhuma transação encontrada.
</div>